
{% extends 'connected.html.twig' %}



{% block body%}


<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-black"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">


              {% if l%}
              <a href="{{ path('take_photo') }}">
              <img src="{{asset(user.pic)}}"
                alt={{user.username}} class="img-fluid my-5" style="width: 120px;" />

                </a>
                {% endif %}

                {% if not l %}
                <img src="{{asset(user.pic)}}"alt={{user.username}} class="img-fluid my-5" style="width: 80px;" />
                 {% endif %}
                
              <h5>{{user.nom}} {{user.prenom}} </h5>
              <p>{{user.type}}</p>
              {% if l%}
              <a href={{path('utilisateur_update',{id: user.id})}}>
              <i class="fa-solid fa-user-pen fa-lg" ></i> Update Account 
              </a>
               
               
              
              {% endif %}
              
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted">{{user.username}} </p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Age</h6>
                    <p class="text-muted">{{user.age}} </p>
                  </div>
                </div>
                
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{user.email}} </p>
                    {% if l%}
                    <br>
                    <a href={{path('MDPRez_utilisateur')}} ><i class="fa-solid fa-key"></i>Update password ? </a>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-3">
                    <h6>CIN</h6>
                    <p class="text-muted">{{user.cin}} </p>
                    {% if l%}
                     <br> 
               <a href={{path('delete_utilisateur',{id: user.id})}}>
              <i class="fa-sharp fa-solid fa-trash  fa-lg"></i>Delete your account
              </a>
              {% endif %}
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}